{% extends "master.html" %}

{% block CSS %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
<title>Sparta Global | Home</title>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    body {
        padding-top: 56px;
        background-color: white;
    }

    .fa{    padding: 0px 18px;transition: transform .2s;}
    .fa:hover {transform: scale(1.3); }

    .shadow-card:hover{box-shadow:0 3px 3px rgba(0,0,0,0.14);transition: box-shadow ease-in-out;}

    .opaque:hover{opacity:0.8;}
</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #01181b">
    <div class="container">
      <a href="https://www.spartaglobal.com/"><img class="masthead-brand" src="../static/images/Sparta-global-logo-white.svg" alt="" width="200" height="80"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: white; font-weight: bold">Meet the Team
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/meet_team" style="color: white; font-weight: bold">The Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data" style="color: white; font-weight: bold">Top 30 IT Jobs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
        <h1 class="display-2 text-center" style="font-family: Roboto Mono">The <span style="color: #B20059">Team</span></h1>
         <h2 class="display-4 text-center">We are the <span class="font-weight-bold" style="color: #B20059;font-family: 'Roboto', sans-serif;">future </span>of<span class="font-weight-bold" style="color: #B20059;font-family: 'Roboto', sans-serif;"> SRE</h2>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <!--1. Akunma-->
        <div class="col-lg-3 col-md-6 mb-4">
        <div class="shadow-card card h-100">
          <img class="opaque card-img-top text-center" src="../static/images/akunma.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
          <div class="card-body">
            <h4 class="card-title">Akunma Ndujiuba</h4>
            <p class="card-text">Gatling Specialist</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/andujiuba" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
            <a href="https://www.linkedin.com/in/akunma-n/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>

          </div>
        </div>
      </div>

        <!--2. Amy-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/amy.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Amy Murphy</h4>
                <p class="card-text">Monitoring Team Lead</p>
              </div>
              <div class="card-footer">
                <a href="https://github.com/am93596" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
                <a href="https://www.linkedin.com/in/amy-murphy-711589212/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>

              </div>
            </div>
          </div>

        <!--3. Ioana-->
        <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="../static/images/ioana.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
      <div class="card-body">
        <h4 class="card-title">Ioana Nicolae</h4>
        <p class="card-text">Continuous Monitoring</p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/ioanan11" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
        <a href="https://www.linkedin.com/in/ioanateodoranicolae/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>
      </div>
    </div>
    </div>

        <!--4. Kieron-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/kieron.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Kieron Gordon</h4>
                <p class="card-text">Testing Team Lead</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/sc18kg" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
              <a href="https://uk.linkedin.com/in/kieronjgordon" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>
              </div>
            </div>
          </div>

        <!--5. Michael-->
        <div class="col-lg-3 col-md-6 mb-4">
        <div class="shadow-card card h-100">
          <img class="opaque card-img-top text-center" src="../static/images/michael.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
          <div class="card-body">
            <h4 class="card-title">Michael Tefera</h4>
            <p class="card-text">Benchmark Tester</p>
          </div>
          <div class="card-footer">
          <a href="https://github.com/om1chael" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
          <a href="https://www.linkedin.com/in/michael-tefera-b67613129/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>

          </div>
        </div>
      </div>

        <!--6. Sacha-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/sacha.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Sacha Dorf</h4>
                <p class="card-text">Automation Team Lead</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/sachadorf1" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
              <a href="https://www.linkedin.com/in/sacha-dorf-299236222/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>
              </div>
            </div>
            </div>

        <!--7. Viktor-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/viktor.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Viktor Mitre</h4>
                <p class="card-text">Microservices Architect</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/vimitre" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
              <a href="https://www.linkedin.com/in/vimitre/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>
              </div>
            </div>
          </div>

        <!--8. Will-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/will.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Will Moorby</h4>
                <p class="card-text">Jenkins Master</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/Mo0rBy" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
              <a href="https://www.linkedin.com/in/william-moorby-3084b9174/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>

              </div>
            </div>
          </div>

        <!--9. Zeeshan-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/zeeshan.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Zeeshan Javed</h4>
                <p class="card-text">SCRUM Master</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/ZeeshanJ99" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;max-height:auto;"></i></a>
              <a href=" https://www.linkedin.com/in/zeeshan-javed1999/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px; color:#0e76a8;"></i></a>

              </div>
            </div>
          </div>

        <!--10. Shahrukh-->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="shadow-card card h-100">
              <img class="opaque card-img-top text-center" src="../static/images/shahrukh.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;border-radius: 50%;padding:10px;">
              <div class="card-body">
                <h4 class="card-title">Shahrukh Khan</h4>
                <p class="card-text">Lead DevOps Engineer and Product Owner</p>
              </div>
              <div class="card-footer">
              <a href="https://github.com/khanmaster" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;max-height:auto;"></i></a>

              </div>
            </div>
          </div>

    </div>
    <!-- /.row -->

  </div>
<footer class="py-3" style="background-color: #01181b">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright © SRE Team Sparta | 2021 </p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}